#display1, #display2 {
    height: 100vh;
}

#display1{
    background-color: #f1f1f1;
}

.total {
    font-size: 5rem;
}

.total span{
    color: #eb4d4c;
}

.current {
    background-color: #eb4d4c;
    min-height: 20%;
    min-width: 100px;
    border-radius: 5px;
}

.current span{
    color: white;
    font-size: 50px;
}

#menu {
    background: linear-gradient(90deg, #f1f1f1 0%, #f1f1f1 50%, #ffffff 50%, #ffffff 100%);
}

button{
    border: none;
    background-color: transparent;
    font-family: 'Lato';
}

button:hover{
    transform: scale(1.2);
 }

.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#diceContain {
    margin: 20px auto;
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 10px black;
    font-size: 80px;
}

.dice1{
    background-image: url(/image/1.png);
}
.dice2{
    background-image: url(/image/2.png);
}
.dice3{
    background-image: url(/image/3.png);
}
.dice4{
    background-image: url(/image/4.png);
}
.dice5{
    background-image: url(/image/5.png);
}
.dice6{
    background-image: url(/image/6.png);
}

svg {
    color: #eb4d4c;
    padding-right: 5px;
}

.active1 {
    width: 15px;
    height: 15px;
    background-color: #eb4d4c;
    border-radius: 50%;
    margin-left: 15px;
}

.active2 {
    width: 15px;
    height: 15px;
    background-color: #eb4d4c;
    border-radius: 50%;
    margin-right: 15px;
}

.hidden {
    visibility: hidden;
}