body{
    margin: 0;
    padding: 0;
}

section {
    display: flex;
}

h2{
    margin-top: 45px;
 }

/* Menu */
.menu {
    position: absolute;
    height: 100vh;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Display Player */
#dice-contain {
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 20px black;
}

.display {
    text-align: center;
    width: 50vw;
    height: 100vh;
}

.hidden {
    visibility: hidden;
}

#one {
    background: lightgray;
}

#two {
    background: #f1f1f1;
}

/* visuel active */
.active1 {
    position: absolute;
    top: 50px;
    left : 40%;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
}

.active2 {
    position: absolute;
    top: 50px;
    right : 40%;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
}