body{
    margin: 0;
    padding: 0;
}

section {
    display: flex;
}

h2{
    margin-top: 45px;
 }

/* Menu */
.menu {
    position: absolute;
    height: 100vh;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#diceContain {
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 10px black;
    font-size: 80px;
}

.dice1{
    background-image: url(/image/1.png);
}
.dice2{
    background-image: url(/image/2.png);
}
.dice3{
    background-image: url(/image/3.png);
}
.dice4{
    background-image: url(/image/4.png);
}
.dice5{
    background-image: url(/image/5.png);
}
.dice6{
    background-image: url(/image/6.png);
}

/* Display Player */
.display {
    text-align: center;
    width: 50vw;
    height: 100vh;
}

.hidden {
    visibility: hidden;
}

#one {
    background: #f7f7f7;
}

#two {
    background: #ffffff;
}

/* visuel active */
.active1 {
    position: absolute;
    top: 50px;
    left : 40%;
    width: 15px;
    height: 15px;
    background-color: #eb4d4c;
    border-radius: 50%;
}

.active2 {
    position: absolute;
    top: 50px;
    right : 40%;
    width: 15px;
    height: 15px;
    background-color: #eb4d4c;
    border-radius: 50%;
}